<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Дизайн карта</title>
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/css/User-rating.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>Интерактивная карта взаимопомощи</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"><button class="btn btn-light me-2" type="button">Вход</button><a class="btn btn-primary" role="button" href="#">Регистрация</a></div>
        </div>
    </nav>
    <script src="../../../../../Диплом%20хули/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>