<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Дизайн карта</title>
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="../../../../../Диплом%20хули/assets/css/User-rating.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>Интерактивная карта взаимопомощи</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"><button class="btn btn-light me-2" type="button">Вход</button><a class="btn btn-primary" role="button" href="#">Регистрация</a></div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4"></h2>
                            <form method="post">
                                <div class="mb-3"><select class="form-select">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </optgroup>
                                    </select></div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Тип услуги</th>
                    <th>Описание</th>
                    <th>ФИО</th>
                    <th>Рейтинг</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                </tr>
            </tbody>
        </table>
    </div><button class="btn btn-primary d-block w-100" type="submit">Добавить свою услугу</button>
    <script src="../../../../../Диплом%20хули/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>